.maindiv {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(74, 74, 74);
  width: 650px;
  height: 500px;
  border-radius: 8px;
  margin: 10% 33%;
}
.maindivclas,
.maindivfun {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
